---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---
[03-2023] Our work on in-situ brittleness received citation from Prof. Derek Elsworth (member of the National Academy of Engineering). [<a href="https://www.sciencedirect.com/science/article/pii/S0360544222030080"> link </a>]
[05-2022] Our recent research work on in-situ brittleness was featured by Chinese Academy of Sciences. [<a href="https://github.com/fuqiangsun/fuqiangsun.github.io/tree/master/files/energyreport.pdf"> pdf </a>]

<!-- {% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %} -->

