---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<!-- {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->

<p><b> 1. Molecular and Cellular Biomechanics </b></p>
Teaching Assistant, <i>for</i> senior undergraduate students, HKU, 2021

<p><b> 2. Mechanics of Materials </b></p>
Teaching Assistant, <i>for</i> sophomore students, UCAS, 2019

<p><b> 3. Modern Continuum Mechanics </b></p>
Teaching Assistant, <i>for</i> first-year graduate students, UCAS, 2018
