---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<!-- {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->

<p><b> 1. Molecular and Cellular Biomechanics</b> (in English)</p>
Teaching Assistant, <i>for</i> senior undergraduate students, HKU, 2021-2022

<p><b> 2. Mechanics of Materials</b> (in Chinese)</p>
Teaching Assistant, <i>for</i> sophomore students, UCAS, 2019-2020

<p><b> 3. Modern Continuum Mechanics</b> (in Chinese)</p>
Teaching Assistant, <i>for</i> first-year graduate students, UCAS, 2017-2018
