---
layout: archive
permalink: /year-archive/
title: "Blog posts"
author_profile: true
redirect_from:
  - /wordpress/blog-posts/
---
<p>[11-2023] Our work on cellular and tissue plasticity received a series of media coverage. [<a href="https://hku.hk/press/news_detail_26973.html"> hku </a>] [<a href="https://phys.org/news/2023-12-mechanism-based-theory-cellular-tissue-plasticity.html"> phys.org </a>] [<a href="https://www.miragenews.com/hku-scientists-achieve-breakthrough-in-cell-1147580/"> Mirage News </a>] [<a href="https://news.mingpao.com/pns/%E6%95%99%E8%82%B2/article/20231221/s00011/1703092896284/%E6%B8%AF%E5%A4%A7%E7%A0%94%E7%B4%B0%E8%83%9E%E3%80%8C%E5%A1%91%E6%80%A7%E8%AE%8A%E5%BD%A2%E3%80%8D%E6%A9%9F%E5%88%B6-%E7%82%BA%E5%86%8D%E7%94%9F%E9%86%AB%E5%AD%B8%E7%99%BC%E5%B1%95%E4%BE%9B%E7%B7%9A%E7%B4%A2"> 明報 </a>]</p>
<p>[03-2023] Our work on in-situ brittleness received a citation from Prof. Derek Elsworth (member of the National Academy of Engineering; foreign member of the Chinese Academy of Engineering). [<a href="https://www.sciencedirect.com/science/article/pii/S0360544222030080"> link </a>]</p>
<p>[08-2022] Our newly developed technology to evaluate in-situ brittleness has been successfully applied to the field exploitation of the shale oil in Junggar Basin. </p>
<p>[05-2022] Our recent research on in-situ brittleness was reported by Chinese Academy of Sciences. [<a href="https://www.cas.cn/syky/202205/t20220516_4834822.shtml"> link </a>]</p>
<!--{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for post in site.posts %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %} -->
